.btn{
  background:transparent; color:#fff; border:2px solid #fff;
  padding:12px 20px; border-radius:12px; font-weight:700; letter-spacing:.3px;
  transition:all .2s ease; cursor:pointer
}
.btn:hover{background:#fff; color:#000}
